<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.IFeedBackDao">

    <resultMap id="BaseResultMap" type="com.web.entity.dbo.FeedBackBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, email, content
    </sql>

    <!-- 插入一条数据 -->
    <insert id="insert" parameterType="com.web.entity.dbo.FeedBackBean">
    insert into t_feedback (email, content)
    values (#{email,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
    </insert>

    <!-- 查找全部 -->
    <select id="getAllFeedBack" resultType="com.web.entity.dbo.FeedBackBean">
        select
        <include refid="Base_Column_List"/>
        from t_feedback;
    </select>
</mapper>